Repository cjnolet/raft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @divyegala, @rapidsai/cuml-cpp-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

Correct building of std::optional<device_resources>
  cpp/include/raft/core/device_resources_manager.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update brute-force API to accept params struct
  cpp/include/raft/neighbors/brute_force-ext.cuh
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/src/neighbors/brute_force_knn_index_float.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Update brute force extern template declarations
  cpp/include/raft/neighbors/brute_force-ext.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Begin adding brute-force index serialization
  cpp/include/raft/neighbors/brute_force_serialize.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Add test header for brute force index
  cpp/test/neighbors/ann_brute_force.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Add filename serialization for brute force
  cpp/include/raft/neighbors/brute_force_serialize.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Add brute force index tests
  build.sh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_brute_force/test_float.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fix brute force explicit instantiations
  cpp/include/raft/linalg/norm.cuh
  cpp/include/raft/neighbors/brute_force-ext.cuh
  cpp/include/raft/neighbors/brute_force-inl.cuh
  cpp/include/raft/neighbors/brute_force_serialize.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/src/neighbors/brute_force_knn_index_float.cu
  cpp/test/neighbors/ann_brute_force.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Fix dim serialization type
  cpp/include/raft/neighbors/brute_force_types.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update cpp/include/raft/neighbors/brute_force_serialize.cuh
  cpp/include/raft/neighbors/brute_force_serialize.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Update cpp/include/raft/neighbors/brute_force_serialize.cuh
  cpp/include/raft/neighbors/brute_force_serialize.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Use devArrMatchKnnPair for brute force index evaluation
  cpp/test/neighbors/ann_brute_force.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Correct handling of exact test match
  cpp/test/neighbors/ann_brute_force.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Apply suggestions from code review
  cpp/include/raft/neighbors/brute_force_serialize.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Remove unused host variables
  cpp/test/neighbors/ann_brute_force.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Make dataset serialization optional
  cpp/include/raft/neighbors/brute_force_serialize.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Add tests for no-dataset serialization
  cpp/include/raft/neighbors/brute_force_serialize.cuh
  cpp/include/raft/neighbors/brute_force_types.hpp
  cpp/test/neighbors/ann_brute_force.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Document include_dataset parameter
  cpp/include/raft/neighbors/brute_force_serialize.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Fix compile failure on RTX 4090 and update Copyright year. related issue (#2073)
  cpp/include/raft/neighbors/detail/nn_descent.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Change `MAX_DATASET_DIM` to `DATASET_BLOCK_DIM` in CAGRA search implementations
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Fix a bug in `distance_op`
  cpp/include/raft/neighbors/detail/cagra/compute_distance.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Fix a bug in `search_plan_impl_base`
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Update CAGRA multi-kernel to support 1024+ dim vectors
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Update CAGRA test dim
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Remove `device::fragment`
  cpp/include/raft/neighbors/detail/cagra/fragment.hpp
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Fix a bug in CAGRA multi-kernel search
  cpp/include/raft/neighbors/detail/cagra/search_multi_kernel.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Update large dim test
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Update test of Top-1 search
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Desrease the max `max_dataset_block_dim` to reduce the number of template instances
  cpp/include/raft/neighbors/detail/cagra/factory.cuh
  cpp/include/raft/neighbors/detail/cagra/search_plan.cuh
  cpp/include/raft/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Getting things to compile
  cpp/include/raft/spectral/cluster_solvers.cuh
  cpp/include/raft/spectral/detail/modularity_maximization.hpp
  cpp/include/raft/spectral/detail/partition.hpp
  cpp/include/raft/spectral/detail/spectral_util.cuh
  cpp/include/raft/spectral/eigen_solvers.cuh
  cpp/include/raft/spectral/modularity_maximization.cuh
  cpp/include/raft/spectral/partition.cuh
  cpp/include/raft/spectral/specializations.cuh
  cpp/test/CMakeLists.txt
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-cmake-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @divyegala
cpp/               @rapidsai/cuml-cpp-codeowners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @divyegala
python/            @rapidsai/cuml-python-codeowners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @divyegala
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cugraph-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cugraph-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
