Repository cjnolet/raft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @divyegala, @rapidsai/cuml-cpp-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @divyegala
cpp/               @rapidsai/cuml-cpp-codeowners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @divyegala
python/            @rapidsai/cuml-python-codeowners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @divyegala
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cugraph-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cugraph-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners

Compile with raft::distributed.
  cpp/src/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Revert changes to raft api wrappers cmake config.
  cpp/src/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Consolidate tests.
  .gitignore
  legate/raft/test/test_api.py
  test_spmm.py
Owners: none

Fixup test_csr_matmat.
  legate/raft/test/test_api.py
Owners: none

Measure test runtime.
  naive_bayes/mps.py
Owners: none

Checking in
  cpp/src/common/gpu_task_context.hpp
  cpp/src/task/kmeans_fit.cu
  legate/raft/kmeans.py
  legate/raft/test/test_kmeans.py
Owners: @rapidsai/cugraph-cpp-codeowners

Adding header
  cpp/src/common/gpu_task_context.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Require libraft 23.06.
  README.md
Owners: none

Drop out-dated notes from README.
  README.md
Owners: none

Remove obsolete NB module.
  naive_bayes/helper.py
Owners: none

Document NB implementation state.
  README.md
Owners: none

Directly expose parameters as array properties in mps.
  naive_bayes/mps.py
Owners: none

Consolidate NB implementation and tests.
  README.md
  naive_bayes/__init__.py
  naive_bayes/mps.py
  naive_bayes/multinomial.py
  naive_bayes/tests.py
Owners: none

Fix README formatting error.
  README.md
Owners: none

Adapt to new type system.
  cpp/src/task/add.cu
  cpp/src/task/add_constant.cu
  cpp/src/task/argmax.cc
  cpp/src/task/categorize.cc
  cpp/src/task/convert.cu
  cpp/src/task/count_features.cu
  cpp/src/task/exp.cc
  cpp/src/task/fill.cc
  cpp/src/task/find_max.cc
  cpp/src/task/histogram.cc
  cpp/src/task/invert_labels.cc
  cpp/src/task/log.cu
  cpp/src/task/map_labels.cc
  cpp/src/task/matmul.cc
  cpp/src/task/mul.cc
  cpp/src/task/range.cc
  cpp/src/task/sparse_matmul.cu
  cpp/src/task/sum_over_axis.cu
  cpp/src/task/unique.cc
  legate/raft/array_api.py
  legate/raft/core.py
Owners: @rapidsai/cugraph-cpp-codeowners

Use reduction for both CPU and GPU in csr_mm task.
  cpp/src/task/sparse_matmul.cu
  legate/raft/sparse.py
Owners: @rapidsai/cugraph-cpp-codeowners

Rely on legate.core cmake functions.
  CMakeLists.txt
  cpp/src/CMakeLists.txt
  helper_functions.cmake
Owners: @rapidsai/cugraph-cmake-codeowners

Update documented legate.core tested version.
  README.md
Owners: none

added dev deps to README
  README.md
Owners: none

Adding gpu task context
  .gitignore
  cpp/src/common/gpu_task_context.hpp
  cpp/src/task/kmeans_fit.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Updating readme
  README.md
Owners: none

Using gpu task context in remainnign gpu tasks
  cpp/src/task/add.cu
  cpp/src/task/add_constant.cu
  cpp/src/task/bincount.cu
  cpp/src/task/convert.cu
  cpp/src/task/count_features.cu
  cpp/src/task/kmeans_fit.cu
  cpp/src/task/log.cu
  cpp/src/task/sparse_matmul.cu
  cpp/src/task/sum_over_axis.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Explicitly compiling gpu task context
  cpp/src/CMakeLists.txt
  cpp/src/common/gpu_task_context.cu
  cpp/src/common/gpu_task_context.hpp
  cpp/src/legate_raft_cffi.h
  cpp/src/task/kmeans_fit.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fixing build. Explicitly instantiating gpu_task_context
  cpp/src/common/gpu_task_context.cu
  cpp/src/common/gpu_task_context.hpp
  cpp/src/task/add_constant.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Adding 1B scale dataset generator
  README.md
  cpp/src/raft/kmeans_mnmg_impl.cuh
  legate/raft/kmeans.py
  legate/raft/test/test_kmeans.py
  scripts/blobs_dataset_gen.py
Owners: @rapidsai/cugraph-cpp-codeowners

Consolidating more dataset logic
  legate/raft/datasets.py
  legate/raft/test/test_kmeans.py
  scripts/blobs_dataset_gen.py
Owners: none

Adding data generation example to README.md
  README.md
Owners: none

Ignore data/ directory
  .gitignore
Owners: none

Successfully testing at 1B scale using files
  legate/raft/datasets.py
  legate/raft/kmeans.py
  legate/raft/test/test_kmeans.py
Owners: none

Adding proper make_blobs impl
  cpp/src/legate_raft_cffi.h
  cpp/src/task/make_blobs.cu
  legate/raft/core.py
  legate/raft/make_blobs.py
Owners: @rapidsai/cugraph-cpp-codeowners

Removing file-based make_blobs
  legate/raft/datasets.py
  legate/raft/make_blobs.py
  legate/raft/test/test_kmeans.py
  scripts/blobs_dataset_gen.py
Owners: none

Getting closer
  cpp/src/CMakeLists.txt
  cpp/src/task/make_blobs.cu
  legate/raft/datasets.py
  legate/raft/test/test_kmeans.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

make_blobs works!
  cpp/src/task/.make_blobs.cu.swp
  cpp/src/task/make_blobs.cu
  legate/raft/datasets.py
Owners: @rapidsai/cugraph-cpp-codeowners

No reason to ignore data/ anymore
  .gitignore
Owners: none

Breaking some things out into dirs
  legate/raft/__init__.py
  legate/raft/cluster/__init__.py
  legate/raft/cluster/kmeans.py
  legate/raft/random/__init__.py
  legate/raft/random/make_blobs.py
  legate/raft/test/test_kmeans.py
Owners: none

Removing accidental checkin
  cpp/src/task/.make_blobs.cu.swp
Owners: @rapidsai/cugraph-cpp-codeowners

Fixing style
  cpp/src/CMakeLists.txt
  cpp/src/common/allocator.hpp
  cpp/src/raft/kmeans_mnmg_impl.cuh
  cpp/src/raft/raft_kmeans.cu
  cpp/src/task/kmeans_fit.cu
  cpp/src/task/make_blobs.cu
  legate/raft/__init__.py
  legate/raft/cluster/kmeans.py
  legate/raft/core.py
  legate/raft/random/make_blobs.py
  legate/raft/test/test_kmeans.py
  naive_bayes/conftest.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Dockerfile
  Dockerfile
Owners: @rapidsai/ops-codeowners

Create new resources for each thread
  cpp/include/raft/core/device_resources_manager.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Correct missing type
  cpp/include/raft/core/device_resources_manager.hpp
Owners: @rapidsai/cugraph-cpp-codeowners
