Repository cjnolet/raft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @divyegala, @rapidsai/cuml-cpp-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

adding install_export_set back to thrust, rmm, cuco
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_mdspan.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/cugraph-cmake-codeowners

Readme update
  README.md
Owners: none

B shold be transpose
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
Owners: @rapidsai/cugraph-cpp-codeowners

No transpose (already using csc)
  cpp/include/raft/sparse/detail/cusparse_wrappers.h
Owners: @rapidsai/cugraph-cpp-codeowners

Initial commit
  README.md
Owners: none

Committing template
  .gitignore
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/build.sh
  cpp/cmake/thirdparty/fetch_rapids.cmake
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/src/test_distance.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Moving build.sh
  build.sh
Owners: @rapidsai/cugraph-cmake-codeowners

Updating readme
  README.md
Owners: none

Getting to build in legate.core
  README.md
  cpp/CMakeLists.txt
  cpp/build.sh
  cpp/src/CMakeLists.txt
  cpp/src/legate_library.cc
  cpp/src/legate_library.h
  cpp/src/raft/distance.cu
  cpp/src/raft/histogram.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Adding some more skeleton stuff
  README.md
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/legate_raft/install_info.py
  cpp/src/CMakeLists.txt
  cpp/src/legate_raft.h
  cpp/src/legate_raft_cffi.h
  cpp/src/raft/distance.cu
  cpp/src/raft/histogram.cu
  cpp/src/raft/raft_apis.hpp
  cpp/src/task/compute_1nn.cc
  cpp/src/task/histogram.cc
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Adding defines and placeholders in tasks to invoke RAFT API wrappers
  cpp/src/raft/distance.cu
  cpp/src/raft/histogram.cu
  cpp/src/raft/raft_api.hpp
  cpp/src/task/compute_1nn.cc
  cpp/src/task/histogram.cc
Owners: @rapidsai/cugraph-cpp-codeowners

Update README.md
  README.md
Owners: none

Knn impl
  .gitignore
  cpp/CMakeLists.txt
  cpp/legate_raft/install_info.py
  cpp/src/CMakeLists.txt
  cpp/src/legate_raft_cffi.h
  cpp/src/legate_tasks/knn_task.cc
  cpp/src/raft/distance.cu
  cpp/src/raft/histogram.cu
  cpp/src/raft/raft_api.hpp
  cpp/src/raft/raft_knn.cu
  cpp/src/task/compute_1nn.cc
  cpp/src/task/histogram.cc
  legate/raft/__init__.py
  legate/raft/knn.py
  legate/raft/library.py
  setup.cfg
  setup.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Update build system and KNN
  .gitignore
  CMakeLists.txt
  build.sh
  cmake/thirdparty/fetch_rapids.cmake
  cmake/thirdparty/get_raft.cmake
  cpp/src/CMakeLists.txt
  cpp/src/legate_library.cc
  cpp/src/legate_library.h
  cpp/src/raft/raft_api.hpp
  cpp/src/raft/raft_knn.cu
  legate/CMakeLists.txt
  legate/__init__.py
  legate/raft/library.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Run KNN though tiling and manual task
  .gitignore
  build.sh
  cpp/src/legate_tasks/knn_task.cc
  cpp/src/raft/raft_api.hpp
  cpp/src/raft/raft_knn.cu
  legate/raft/core.py
  legate/raft/knn.py
  pytest/test_knn.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

update pytest
  .gitignore
  pytest/test_knn.py
Owners: none

Restore files
  cpp/src/legate_tasks/compute_1nn.cc
  cpp/src/legate_tasks/histogram.cc
  cpp/src/raft/distance.cu
  cpp/src/raft/histogram.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Group task definitions in legate.raft into separate modules.
  legate/raft/__init__.py
  legate/raft/array_api.py
  legate/raft/core.py
  legate/raft/multiarray.py
  legate/raft/special.py
Owners: none

Use more concise names for the array and store conversion functions.
  legate/raft/__init__.py
  legate/raft/core.py
  naive_bayes/multinomial.py
Owners: none

Add Naive Bayes example prototype.
  .gitignore
  .pre-commit-config.yaml
  CMakeLists.txt
  build.sh
  cmake/thirdparty/fetch_rapids.cmake
  cmake/thirdparty/get_raft.cmake
  cpp/legate_raft/install_info.py
  cpp/src/CMakeLists.txt
  cpp/src/legate_library.cc
  cpp/src/legate_raft_cffi.h
  cpp/src/task/add.cc
  cpp/src/task/add_constant.cc
  cpp/src/task/bincount.cc
  cpp/src/task/categorize.cc
  cpp/src/task/compute_1nn.cc
  cpp/src/task/convert.cc
  cpp/src/task/exp.cc
  cpp/src/task/fill.cc
  cpp/src/task/find_max.cc
  cpp/src/task/log.cc
  cpp/src/task/matmul.cc
  cpp/src/task/mul.cc
  cpp/src/task/sum_over_axis.cc
  legate/CMakeLists.txt
  legate/__init__.py
  legate/raft/__init__.py
  legate/raft/cffi.py
  legate/raft/core.py
  legate/raft/special.py
  legate/raft/tests.py
  legate/raft/util.py
  naive_bayes/__init__.py
  naive_bayes/cn/__init__.py
  naive_bayes/cn/multinomial.py
  naive_bayes/conftest.py
  naive_bayes/helper.py
  naive_bayes/multinomial.py
  naive_bayes/tests.py
  setup.cfg
  setup.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

distributed index + answered part of the reviews
  cpp/src/CMakeLists.txt
  cpp/src/legate_raft_cffi.h
  cpp/src/legate_tasks/compute_1nn.cc
  cpp/src/legate_tasks/histogram.cc
  cpp/src/legate_tasks/knn_merge_task.cc
  cpp/src/legate_tasks/knn_task.cc
  cpp/src/raft/raft_api.hpp
  cpp/src/raft/raft_knn.cu
  cpp/src/raft/raft_knn_merge.cu
  legate/__init__.py
  legate/raft/__init__.py
  legate/raft/core.py
  legate/raft/knn.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Adding kmeans. Commented out knn task source files for now since they aren't building for me. Victor, please uncomment these if I'm doing somethign wrong.
  cpp/src/CMakeLists.txt
  cpp/src/legate_raft_cffi.h
  cpp/src/raft/kmeans_mnmg_impl.cuh
  cpp/src/raft/raft_api.hpp
  cpp/src/raft/raft_kmeans.cu
  cpp/src/raft/raft_kmeans_api.hpp
  cpp/src/raft/raft_knn_merge.cu
  cpp/src/task/kmeans_fit_task.cc
  cpp/src/task/knn_task.cc
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Update and extend pre-commit configuration.
  .pre-commit-config.yaml
Owners: none

Apply pre-commit auto-formatters.
  README.md
  cpp/src/legate_raft.h
  cpp/src/task/kmeans_fit_task.cc
  cpp/src/task/knn_merge_task.cc
  cpp/src/task/knn_task.cc
  legate/raft/__init__.py
  legate/raft/knn.py
  legate/raft/tests.py
  naive_bayes/conftest.py
  pyproject.toml
  pytest/test_knn.py
Owners: @rapidsai/cugraph-cpp-codeowners

Add GitHub Actions workflow for pre-commit checks.
  .github/workflows/ci.yaml
Owners: @rapidsai/ops-codeowners

Disable knn_task and knn_merge_task.
  cpp/src/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Update knn module to use revised conversion API.
  legate/raft/knn.py
Owners: none

Install legate.raft as namespace package.
  legate/__init__.py
  setup.py
Owners: none

Apply isort auto-formatting.
  legate/raft/array_api.py
  legate/raft/core.py
  legate/raft/knn.py
  legate/raft/multiarray.py
  naive_bayes/helper.py
Owners: none

Use pip to install Python libraries.
  build.sh
Owners: @rapidsai/cugraph-cmake-codeowners

Make build.sh clean more robust.
  build.sh
Owners: @rapidsai/cugraph-cmake-codeowners

Revise CMAKE functions.
  CMakeLists.txt
  cpp/src/CMakeLists.txt
  helper_functions.cmake
  legate/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Update README.md.
  README.md
Owners: none

Implement sparse-matrix input support for Naive Bayes.
  cpp/src/CMakeLists.txt
  cpp/src/legate_raft_cffi.h
  cpp/src/task/argmax.cc
  cpp/src/task/count_features.cc
  cpp/src/task/find_max.cc
  cpp/src/task/invert_labels.cc
  cpp/src/task/map_labels.cc
  cpp/src/task/range.cc
  cpp/src/task/sparse_matmul.cc
  cpp/src/task/unique.cc
  legate/raft/__init__.py
  legate/raft/array_api.py
  legate/raft/cffi.py
  legate/raft/core.py
  legate/raft/multiarray.py
  legate/raft/prims.py
  legate/raft/sparse.py
  legate/raft/tests.py
  naive_bayes/multinomial.py
  naive_bayes/tests.py
  pyproject.toml
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Add missing alignment between A.indices and A.data.
  legate/raft/sparse.py
Owners: none

Add instructions on how to run NB tests to README.
  README.md
Owners: none

Use more defensive imports and better names in NB tests module.
  naive_bayes/tests.py
Owners: none

Remove unnecessary promotion.
  cpp/src/task/sparse_matmul.cc
  legate/raft/sparse.py
Owners: @rapidsai/cugraph-cpp-codeowners

Kmeans runs. Need to figure out how to align labels store up front when it was just created.
  cmake/thirdparty/get_raft.cmake
  cpp/src/CMakeLists.txt
  cpp/src/raft/kmeans_mnmg_impl.cuh
  cpp/src/raft/raft_api.hpp
  cpp/src/raft/raft_kmeans.cu
  cpp/src/raft/raft_kmeans_api.hpp
  cpp/src/task/kmeans_fit_task.cc
  legate/raft/kmeans.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fixes
  cpp/src/task/kmeans_fit_task.cc
  legate/raft/kmeans.py
Owners: @rapidsai/cugraph-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @divyegala
cpp/               @rapidsai/cuml-cpp-codeowners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @divyegala
python/            @rapidsai/cuml-python-codeowners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @divyegala
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cugraph-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cugraph-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
