Repository cjnolet/raft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @divyegala, @rapidsai/cuml-cpp-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

Checking in
  cpp/src/raft/kmeans_mnmg_impl.cuh
  cpp/src/raft/raft_kmeans.cu
  cpp/src/task/kmeans_fit_task.cc
  legate/raft/kmeans.py
Owners: @rapidsai/cugraph-cpp-codeowners

Making reproducible pytest for debugging
  cpp/src/raft/.kmeans_mnmg_impl.cuh.swp
  cpp/src/raft/kmeans_mnmg_impl.cuh
  pytest/test_kmeans.py
Owners: @rapidsai/cugraph-cpp-codeowners

Removing swap file
  cpp/src/raft/.kmeans_mnmg_impl.cuh.swp
Owners: @rapidsai/cugraph-cpp-codeowners

imore debugging
  cpp/src/raft/kmeans_mnmg_impl.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Updates
  build.sh
  cpp/src/raft/kmeans_mnmg_impl.cuh
  cpp/src/raft/raft_kmeans.cu
  legate/raft/kmeans.py
  pytest/test_kmeans.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

It's working w/ the rmm pool allocator
  cpp/src/raft/kmeans_mnmg_impl.cuh
  cpp/src/raft/raft_kmeans.cu
  legate/raft/kmeans.py
  pytest/test_kmeans.py
Owners: @rapidsai/cugraph-cpp-codeowners

Binding single buffer to centroids store
  cpp/src/CMakeLists.txt
  cpp/src/task/kmeans_fit_task.cu
  legate/raft/kmeans.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Checking in
  cpp/src/CMakeLists.txt
  cpp/src/raft/raft_kmeans.cu
  cpp/src/task/kmeans_fit_task.cu
  legate/raft/__init__.py
  legate/raft/kmeans.py
  pytest/test_kmeans.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Moving tests into legate/raft/test
  legate/raft/__init__.py
  legate/raft/test/test_kmeans.py
  legate/raft/test/test_knn.py
Owners: none

Fixing build to a known hash
  cpp/src/CMakeLists.txt
  cpp/src/task/kmeans_fit_task.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Getting output from training! Yay!
  cpp/src/raft/kmeans_mnmg_impl.cuh
  cpp/src/raft/raft_kmeans.cu
  cpp/src/task/kmeans_fit_task.cu
  legate/raft/kmeans.py
Owners: @rapidsai/cugraph-cpp-codeowners

Reverting changes to __init__.py
  legate/raft/__init__.py
Owners: none

Removing unecessary line
  legate/raft/__init__.py
Owners: none

Consolidating some boilerplate for various tasks
  cpp/src/CMakeLists.txt
  cpp/src/common/allocator.hpp
  cpp/src/common/gpu_task_context.hpp
  cpp/src/raft/raft_kmeans.cu
  cpp/src/raft/raft_kmeans_api.hpp
  cpp/src/task/kmeans_fit.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fixing allocator
  cpp/src/common/allocator.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Normalize whitespace in CMake files.
  .pre-commit-config.yaml
  cpp/src/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Start implementing count_features gpu variant.
  cpp/src/CMakeLists.txt
  cpp/src/raft/count_features_coo.cu
  cpp/src/raft/raft_api.hpp
  cpp/src/task/convert.cc
  cpp/src/task/count_features.cc
  legate/raft/core.py
  legate/raft/prims.py
  naive_bayes/__init__.py
  naive_bayes/mps.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Implement count_features reduction with raft NCCL allreduce.
  cpp/src/raft/count_features_coo.cu
  cpp/src/task/count_features.cc
  legate/raft/prims.py
Owners: @rapidsai/cugraph-cpp-codeowners

log() supports numbers.
  legate/raft/array_api.py
Owners: none

The convert() function is smarter about determining the desired dtype.
  legate/raft/core.py
Owners: none

Add missing type asserts.
  legate/raft/array_api.py
Owners: none

fill() can auto-determine type from scalar input
  legate/raft/array_api.py
  legate/raft/core.py
Owners: none

fix type of class_log_prior_
  naive_bayes/mps.py
Owners: none

Completes correctly when run with gdb ...
  cpp/src/raft/count_features_coo.cu
  cpp/src/raft/raft_api.hpp
  cpp/src/task/convert.cc
  cpp/src/task/count_features.cc
  legate/raft/prims.py
  naive_bayes/mps.py
Owners: @rapidsai/cugraph-cpp-codeowners

Remove obsolete output.
  cpp/src/task/count_features.cc
Owners: @rapidsai/cugraph-cpp-codeowners

Fix and simplify the pointer access.
  cpp/src/task/count_features.cc
Owners: @rapidsai/cugraph-cpp-codeowners

Remove obsolete comment.
  cpp/src/task/count_features.cc
Owners: @rapidsai/cugraph-cpp-codeowners

Actually split on rows for csr_mm (cpu).
  legate/raft/sparse.py
  naive_bayes/mps.py
Owners: none

Implement convert gpu-variant.
  cpp/src/CMakeLists.txt
  cpp/src/task/convert.cc
  cpp/src/task/convert.cu
  legate/raft/core.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Basic implementation for feature_count and multi-gpu.
  cpp/src/raft/count_features_coo.cu
  naive_bayes/mps.py
Owners: @rapidsai/cugraph-cpp-codeowners

Implement add_constant gpu-variant.
  cpp/src/CMakeLists.txt
  cpp/src/task/add_constant.cc
  cpp/src/task/add_constant.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fix count_features for run with CPUs.
  cpp/src/task/count_features.cc
  legate/raft/prims.py
Owners: @rapidsai/cugraph-cpp-codeowners

Combine raft/count_features_coo.cu into task/count_features.cu.
  cpp/src/CMakeLists.txt
  cpp/src/raft/count_features_coo.cu
  cpp/src/raft/raft_api.hpp
  cpp/src/task/count_features.cu
  legate/raft/prims.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Implement sum-over-axis gpu-variant.
  cpp/src/CMakeLists.txt
  cpp/src/task/pitches.h
  cpp/src/task/sum_over_axis.cu
  legate/raft/array_api.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Implement sparse_matmul gpu-variant.
  cmake/thirdparty/fetch_rapids.cmake
  cpp/src/CMakeLists.txt
  cpp/src/task/sparse_matmul.cc
  cpp/src/task/sparse_matmul.cu
  legate/raft/sparse.py
  test_spmm.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Implement bincount gpu-variant.
  cpp/src/CMakeLists.txt
  cpp/src/task/bincount.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Use CMAKE_CURRENT_SOURCE_DIR for legate_add_cffi cmake function.
  cpp/src/CMakeLists.txt
  helper_functions.cmake
Owners: @rapidsai/cugraph-cmake-codeowners

Implement log task gpu-variant.
  cpp/src/CMakeLists.txt
  cpp/src/task/log.cc
  cpp/src/task/log.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Implement add task gpu-variant.
  cpp/src/CMakeLists.txt
  cpp/src/task/add.cc
  cpp/src/task/add.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Normalize CMake file.
  cpp/src/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @divyegala
cpp/               @rapidsai/cuml-cpp-codeowners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @divyegala
python/            @rapidsai/cuml-python-codeowners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @divyegala
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cugraph-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cugraph-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
